.bpw-floating-button {
    /* Sets the width and height of the button */
    width: 76px;
    height: 76px; 
    background-color: #5DCAF0;
}

.bpw-widget-btn:hover {
    background-color: #d5f4ff;
}

.bpw-chat-container {
    border-radius: 16px;
    height: 576px;

.bpw-chat-bubble-content {
    border-radius: 16px;
}

.bpw-keyboard-single-choice button:first-child {
    background-color: LightGreen;
    color: white;
    border-radius: 8px;
}

.bpw-keyboard-single-choice button:last-child {
    background-color: LightCoral;
    color: white;
    border-radius: 8px;
}

.bp-widget-side {
    height: 576px !important;
    bottom: 0;
    top: auto;
}

.bpw-send-button {
    background-color: #d5f4ff;
    color: black;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
    background-color: #d5f4ff;
    color: black;
}
