.bpw-floating-button {
    /* Sets the width and height of the button */
    width: 76px;
    height: 76px; 
}

.bpw-chat-container {
    border-radius: 16px;

.bpw-chat-bubble-content {
    border-radius: 16px;
}
